<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting id="quality" type="bool" label="30001" default="true"/>
	</category>
	<category label="30020">
		<setting id="meta" type="bool" label="30021" default="true"/>
		<setting id="fanart"   type="bool" label="30022" default="true" enable="!eq(-1,false)"/>
	</category>
	<category label="30040">
		<setting id="movie_library" type="folder" label="30042" default="special://userdata/addon_data/plugin.video.simply.player/Movies"/>
		<setting id="tv_library" type="folder" label="30043" default="special://userdata/addon_data/plugin.video.simply.player/TVShows"/>
		<setting type="lsep" label="[CR]"/>
		<setting type="lsep" label="30041"/>
	</category>
	<category label="30060">
		<setting id="subs" type="enum" label="30063" lvalues="30064|30065" default="0" />
		<setting type="lsep" label="[CR]"/>
		<setting type="lsep" label="30061"/>
		<setting type="lsep" label="30062"/>
	</category>
</settings>